*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #cff1fef2;

}
.container{
    position: relative;
    width:60%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    align-items: center;
    padding: 2rem;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header button{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}
.search-bar{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    padding: 0.3rem 1rem;
    border: 2px solid white;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #bebcbc;
}
.search-bar input{
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    outline: none;
}
.search-bar button{
    width: 100%;
    max-width: 100px;
    background-color: rgba(10, 57, 246, 0.825);
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    border: none;
}
.search-bar img{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
.hero-section{
    position: relative;
    width: 100%;
    margin-top: 2rem;
    display: none;
    flex-direction: row;
    padding: 3rem 1rem;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 15px;
    gap:2rem;
    box-shadow: 0px 0px 20px #bebcbc;
}
.profile-pic{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin-left: 3rem;
}
.description{
    position:relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-right: 3rem;
    padding-left: 1rem;
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.head h2{
    font-size: 20px;
}
[user-name]{
    margin-top: -1rem;
}
.follow-box{
    position: relative;
    display: flex;
    width: 100%;
    background-color:#daf4fef2;
    justify-content: space-evenly;
    border-radius: 5px;
}
.follow-box div{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap:0.5rem;
    align-items: center;
    padding: 10px 0px;
}
.contacts{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    gap :1rem;
    padding: 2rem 2rem;
}
.contacts div{
    position: relative;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.error-hero-section{
    display: none;
    flex-direction: column;
    align-items: center;
}

.error-hero-section img{
    width: 80%;
    height: 50%;
}

.active{
    display: flex;
}

@media screen and (max-width:700px) {
    .container{
        width: 97%;
    }
    [about]{
        font-size: 12px;
        padding: 15px 15px;
    }
    .header h2{
        font-size: 18px;
    }
    .header button{
        width: 60px;
        font-size: 10px;
    }

    .search-bar{
        padding: 0.2rem 5px;
        border-radius: 8px;
    }
    .search-bar img{
        width: 20px;
        height: 20px;
    }
    .search-bar input{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        font-weight: 500;
    }
    .search-bar button{
        width: 40%;
        padding: 0px;
        font-size: 9px;
        border-radius: 5px;
        font-weight: normal;
    }

    .hero-section{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        padding: 0.5rem;
    }
    .profile-pic{
        display: flex;
        margin: 0px;
        max-width: 120px;
        max-height: 120px;
    }
    .description{
        gap:0.5rem;
        padding: 0.25rem;
    }
    .head{
        flex-direction: column;
        width: 100%;
        gap:0.25rem;
        align-items: center;
    }
    .head h2{
        font-size: 16px;
    }

    [user-name]{
        margin-top: 0;
        text-align: center;
    }
    .follow-box{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1rem;
        background-color:#daf4fef2;
        border-radius: 5px;
    }
    .follow-box div{
        flex-direction: row;
        gap:0.25rem;
        padding: 0px 1rem;
        justify-content: space-between;
        align-items: center;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        gap :0.5rem;
        padding: 1rem 0.5rem;
    }
    .contacts div{
        justify-content: center;
        gap: rem;
    }
}
